#users {
    background-color: #004047;
}

#col {
    background-color: #012F34;
}

#heading {
    color: #79C8C7;
}

#text-p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 254px;
}